<div class="container">
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--se sono nella schermata di NEW ITEM...-->

    <!--{{!{{#if controller.newLog}}-->
    <!--<div class="row">-->
    <!--<!---new-login-->
    <!--{{!{{partial "login/-new-login"}}-->
    <!--</div>-->
    <!--altrimenti mostro l'ITEM LIST-->
    <!--{{!{{else}}-->
    <div class="row">
        <!--<!--table con lista dei container-->
        <div class="col-lg-12">
            <!---enter-login-->
            {{partial "login/partials/-submit"}}
        </div>
    </div>
    <!--{{!{{/if}}-->
</div>


<!--{{!outlet overview}}-->